<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.demo.Mapper.EmployeeMapper">

    <sql id="employeeProperties">
        id,lastName,email,gender,d_id
    </sql>

    <!--public Employee getEmpById(Integer id);-->
    <select id="getEmpById" resultType="com.example.demo.Entity.Employee">
          SELECT id,lastName,email,gender,d_id from employee where id=#{id}
    </select>


    <!--public void insertEmp(Employee employee);-->

    <insert id="insertEmp">

        INSERT INTO employee(lastName,email,gender,d_id) VALUES (#{lastName},#{email},#{gender},#{dId})

    </insert>


    <!--public List<Employee> getAll();-->

    <select id="getAll" resultType="com.example.demo.Entity.Employee">
        SELECT
        <include refid="employeeProperties"/>
        from employee
    </select>

</mapper>